@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: rgb(224, 232, 255);
  min-height: 100vh;
  font-family: 'Red hat Display', sans-serif;
}

main {
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-position: 0 -30%;
  width: 100%;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: rgb(255, 255, 255);
  width: 432px;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 10px 20px rgb(167, 186, 205);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
  gap: 15px;
}

h1, h2 {
  color: rgb(31, 47, 86);
  text-align: center;
  font-weight: 900;
}

h2 {
  font-size: 1em;
}

p {
  color: hsl(224, 23%, 55%);
  text-align: center;
}

.plan-section {
  background-color: hsl(225, 100%, 94%);
  border-radius: 16px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.plan-section::before {
  content: url('images/icon-music.svg');
}



